// CALL TO ACTION BANNERS
.call-to-action {
    .cta-title {
        text-transform: inherit;
        margin-bottom: 25px;
        letter-spacing: 0.03em;
        font-weight: 300;
    }
    p {
        margin-bottom: 30px;
    }
}
.call-to-action-inline {
    .btn {
        margin-left: 10px;
    }
}
