.counter-number {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0.05em;
    color: #00AEEF;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value {
	text-align: center;
}
