.highlight-text {
  &.ht-style-1 {
    background-color: #00AEEF;
    color: #fff;
  }
  &.ht-style-2 {
    background-color: #EEE;
    color: #999;
  }
  &.ht-style-3 {
    background-color: #111;
    color: #999;
  }
}