.widget {
	.mc4wp-form {
		br {
			display: none;
		}
		h2 {
			font-size: 14px;
			margin-bottom: 20px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.01em;
		}
		.btn {
			padding: 10px 20px;
		}
	}
}
