.widget_tm_recent_posts {
	img {
		&:hover {
			opacity: .8;
		}
	}
	h3 {
		font-size: 14px;
		margin-bottom: 0;
	}
	.recent-posts__info {
		padding-left: 0;
	}
	.recent-posts__item {
		margin-bottom: 20px;
	}
}
